<div class="row mt-1 card-entry">
  <div id="base-<%= dom_id instance %>" class="entry-base col-10 list-group list-group-horizontal p-0 outline">
    <div class="col-3 list-group-item centered">
      <span><%= instance.card.name %></span>
    </div>
    <div class="col-4 list-group-item centered">
      <span><%= instance.card.type %></span>
    </div>
    <div class="col-2 list-group-item centered">
      <span><%= render partial: 'manacost', locals: { card: instance.card, size: ApplicationHelper::MTG_SYMBOL_SIZE_BIG } %></span>
    </div>
    <div class="col-1 list-group-item centered">
      <span><%= instance.card.stats %></span>
    </div>
    <div class="col-1 list-group-item centered">
      <span><%= render partial: 'set_symbol', locals: { card: instance } %></span>
    </div>
    <div class="col-1 list-group-item centered small">
      <span><%= instance.rarity.capitalize %></span>
    </div>
  </div>

  <% if user_authenticated && user_is_deckbuilding %>
    <div class="col-2 row list-group list-group-horizontal p-0 outline ms-2">
      <div class="col-4 list-group-item p-1 centered">
        <button id="btn-<%= dom_id instance %>" class="entry-btn dropdown-btn"><%= image_tag 'dropdown.png', size: '32x16' %></button>
      </div>
      <div class="col-4 list-group-item centered p-0">
        <button class="entry-btn"><%= image_tag 'plus.svg', size: '30x30' %></button>
      </div>
      <div class="col-4 list-group-item centered">
        <button class="entry-btn"><%= image_tag 'minus.svg', size: '30x30' %></button>
      </div>
    </div>
  <% else %>
    <div class="col-1 list-group list-group-horizontal p-0 ms-4">
      <div class="list-group-item centered outline">
        <button id="btn-<%= dom_id instance %>" class="entry-btn dropdown-btn"><%= image_tag 'dropdown.png', size: '32x16' %></button>
      </div>
    </div>
  <% end %>

  <div id="extended-<%= dom_id instance %>" class="entry-extended">
    <%= render partial: 'card_extended', locals: { card_instance: instance } %>
  </div>
</div>
