<div class="row align-items-center">
  <div class="col-11 row list-group list-group-horizontal p-0 outline position-sticky">
    <div class="col-3 list-group-item centered py-1">
      <span><%= t('name') %></span>
    </div>
    <div class="col-4 list-group-item centered py-0">
      <span><%= t('type') %></span>
    </div>
    <div class="col-2 list-group-item centered py-0">
      <span><%= t('cost') %></span>
    </div>
    <div class="col-1 list-group-item centered py-0">
      <span><%= t('p/t') %></span>
    </div>
    <div class="col-1 list-group-item centered py-0">
      <span><%= t('expansion') %></span>
    </div>
    <div class="col-1 list-group-item centered py-0">
      <span><%= t('rarity') %></span>
    </div>
  </div>
  <div class="col-1 ms-4">
    <div class="d-flex">
      <button id="collapse-btn" class="btn btn-secondary me-2"><%= t('collapse') %></button>
      <button id="expand-btn" class="btn btn-secondary"><%= t('expand') %></button>
    </div>
  </div>
</div>
