<div class="row mt-1 card-entry ms-4">
  <div class="col-8 row list-group list-group-horizontal p-0 outline">
    <div class="col-3 list-group-item centered">
      <span><%= instance.card.name %></span>
    </div>
    <div class="col-4 list-group-item centered">
      <span><%= instance.card.type %></span>
    </div>
    <div class="col-2 list-group-item centered">
      <span><%= render partial: 'manacost', locals: { card: instance.card, size: ApplicationHelper::MTG_SYMBOL_SIZE_BIG } %></span>
    </div>
    <div class="col-1 list-group-item centered">
      <span><%= instance.card.stats %></span>
    </div>
    <div class="col-1 list-group-item centered">
      <span><%= render partial: 'set_symbol', locals: { expansion: instance.expansion_symbol_common(2) } %></span>
    </div>
    <div class="col-1 list-group-item centered p-0">
      <span><%= instance.rarity.capitalize %></span>
    </div>
  </div>

  <% if user_authenticated && user_is_deckbuilding %>
    <div class="col-1 row list-group list-group-horizontal p-0 outline ms-4">
      <div class="col-4 list-group-item centered">
        <button class="entry-btn"><%= image_tag 'dropdown.png', size: '36x18' %></button>
      </div>
      <div class="col-4 list-group-item centered p-0">
        <button class="entry-btn"><%= image_tag 'plus.svg', size: '30x30' %></button>
      </div>
      <div class="col-4 list-group-item centered">
        <button class="entry-btn"><%= image_tag 'minus.svg', size: '30x30' %></button>
      </div>
    </div>
  <% else %>
    <div class="col-1 row list-group list-group-horizontal outline p-0 ms-4">
      <div class="list-group-item centered col">
        <button class="entry-btn"><%= image_tag 'dropdown.png', size: '40x20' %></button>
      </div>
    </div>
  <% end %>
</div>
