<%= form_with url: root_path, method: :get, class: 'position-fixed menu mt-5' do |form| %>
  <div class="row form-group">
    <%= form.label :name, 'Name', class: "col-3"%>
    <div class="col-9">
      <%= form.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-2 form-group">
    <%= form.label :rules, 'Rules Text', class: "col-3"%>
    <div class="col-9">
      <%= form.text_field :rules, class: "form-control" %>
    </div>
  </div>
  <div class="row mt-2 form-group">
    <%= form.label :flavour, 'Flavour Text', class: "col-3"%>
    <div class="col-9">
      <%= form.text_field :flavour, class: "form-control" %>
    </div>
  </div>
<!--  <div class="row mt-2 d-flex align-items-center">-->
<!--    <div class="dropdown col-4">-->
<!--      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdown_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--        Expansions-->
<!--      </button>-->
<!--      <div class="dropdown-menu" aria-labelledby="dropdown_menu">-->
        <%#= form.label :set_AKH, "Amonkhet" %>
        <%#= form.check_box :set_AKH, class: "dropdown-item" %>

        <%#= form.label :set_NPH, "New Phyrexia" %>
        <%#= form.check_box :set_NPH, class: "dropdown-item" %>

        <%#= form.label :set_RNA, "Ravnica Allegiance" %>
        <%#= form.check_box :set_RNA, class: "dropdown-item" %>
<!--      </div>-->
<!--    </div>-->

    <div class="ms-2 gx-4 row mt-2 form-group align-items-center justify-content-center">
      <%= form.label :set, 'Expansion', class: 'col-3' %>
      <div class="col-6">
        <%= form.select :set, @expansions, class: "ms-2 form-select" %>
      </div>
    </div>

    <div class="form-group row gx-5 mt-3 justify-content-center">
      <div class="d-flex align-items-center col-1">
        <%= form.label :color_w, image_tag("symbols/w.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_w, class: "ms-1 checkbox" %>
      </div>

      <div class="d-flex align-items-center col-1">
        <%= form.label :color_b, image_tag("symbols/b.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_b, class: "ms-1 checkbox" %>
      </div>

      <div class="d-flex align-items-center col-1">
        <%= form.label :color_u, image_tag("symbols/u.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_u, class: "ms-1 checkbox" %>
      </div>

      <div class="d-flex align-items-center col-1">
        <%= form.label :color_r, image_tag("symbols/r.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_r, class: "ms-1 checkbox" %>
      </div>

      <div class="d-flex align-items-center col-1">
        <%= form.label :color_g, image_tag("symbols/g.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_g, class: "ms-1 checkbox" %>
      </div>

      <div class="d-flex align-items-center col-2">
        <%= form.label :color_c, image_tag("symbols/c.svg", size: ApplicationHelper::MTG_SYMBOL_SIZE) %>
        <%= form.check_box :color_c, class: "ms-1 checkbox" %>
      </div>
    </div>

    <div class="row form-group mt-3 justify-content-center">
      <%= form.label :supertypes, 'Supertype', class: 'col-3' %>
      <div class="col-5">
        <%= form.select :supertypes, @supertypes, class: "ms-1 form-select" %>
      </div>
    </div>

    <div class="row form-group mt-2 justify-content-center">
      <%= form.label :types, 'Type', class: 'col-3' %>
      <div class="col-5">
        <%= form.select :types, @types, class: "ms-1 form-select" %>
      </div>
    </div>

    <div class="row form-group mt-2 justify-content-center">
      <%= form.label :subtypes, 'Subtype', class: 'col-3' %>
      <div class="col-5">
        <%= form.select :subtypes, @subtypes, class: "ms-1 form-select" %>
      </div>
    </div>

<!--    </div>-->
<!--    <div class="col-6">-->
    <div class="row form-group mt-2 justify-content-center">
      <%= form.number_field :cost_ge, in: 0..99, class: 'col-1 p-0 ps-1' %>
      <span class="text-primary col-4 pe-0 text-center"><= Mana value <=</span>
      <%= form.number_field :cost_le, in: 0..99,  class: 'col-1 p-0 ps-1 ms-1'  %>
    </div>

    <div class="row form-group mt-2 justify-content-center">
      <%= form.number_field :power_ge, in: 0..99, class: 'col-1 p-0 ps-1' %>
      <span class="text-primary col-4 text-center"><= Power <=</span>
      <%= form.number_field :power_le, in: 0..99, class: 'col-1 p-0 ps-1 ms-1'  %>
    </div>

    <div class="row form-group mt-2 justify-content-center">
      <%= form.number_field :toughness_ge, in: 0..99, class: 'col-1 p-0 ps-1' %>
      <span class="text-primary col-4 pe-0 text-center"><= Toughness <=</span>
      <%= form.number_field :toughness_le, in: 0..99, class: 'col-1 p-0 ps-1 ms-1'  %>
    </div>

  <div class="row mt-4">
    <div class="col-3"></div>
    <%= form.submit "Search", class: "btn btn-secondary col-6" %>
    <div class="col-3"></div>
  </div>
<% end %>
