<div class="col-8 mb-5">
  <div class="cards-heading mb-5 ms-4 w-100">
    <%= render partial: "card_header" %>
  </div>

  <div class="mt-5 card-entries ms-4 w-100">
    <% @cards.each do |card| %>
      <%= render partial: "card_entry", locals: { instance: card } %>
    <% end %>
  </div>
</div>

<div class="col-1"></div>

<div class="col-3 mt-5 position-sticky">
  <%= render partial: 'menu' %>
</div>

<%= render partial: "footer" %>

<%= javascript_include_tag "show-extended" %>
