<div id="<%= dom_id expansion %>">
  <p>
    <strong>Name:</strong>
    <%= expansion.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= expansion.code %>
  </p>

  <p>
    <strong>Card num:</strong>
    <%= expansion.card_num %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= expansion.release_date %>
  </p>

  <p>
    <strong>Symbol:</strong>
  </p>

</div>
