<%= form_with(model: expansion) do |form| %>
  <% if expansion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(expansion.errors.count, "error") %> prohibited this expansion from being saved:</h2>

      <ul>
        <% expansion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code %>
  </div>

  <div>
    <%= form.label :card_num, style: "display: block" %>
    <%= form.number_field :card_num %>
  </div>

  <div>
    <%= form.label :release_date, style: "display: block" %>
    <%= form.date_field :release_date %>
  </div>

  <div>
    <%= form.label :symbol, style: "display: block" %>
    <%= form.file_field :symbol %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
