<p style="color: green"><%= notice %></p>

<div class="row">
  <div class="col-8">
    <h1 class="mt-4 row">Users</h1>

    <div id="users">
      <% @users.each do |user| %>
        <%= render user %>
      <% end %>
    </div>

    <% if current_user&.is_admin %>
      <%= link_to "New user", new_user_path %>
    <% end %>
  </div>

  <div class="col-4 mt-5 ms-0">
    <div class="position-fixed w-25 overflow-visible">
      <%= form_with url: users_path, method: :get do |form| %>
        <div class="form-group row">
          <div class="col-8">
            <%= form.text_field :user_name, class: 'form-control', value: params[:user_name]  %>
          </div>
          <%= form.submit 'Search', class: 'btn btn-outline-primary col-4' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: "footer", locals: { objects: @users } %>
