<div id="<%= dom_id card_instance %>" class="row align-items-center">
  <div class="col-2">
    <% if card_instance.image.representable? %>
      <%= image_tag card_instance.image.representation(resize_to_limit: [284, 400]) %>
    <% else %>
      <%= link_to rails_blob_path(card_instance.image) %>
    <% end %>
  </div>

  <div class="col-4">
    <div class="d-flex align-items-center">
      <p class="me-3 bold fs-4"><%= card_instance.card.name %></p>
      <% unless card_instance.card.manacost.nil? %>
        <p><%= render partial: 'manacost', locals: { card: card_instance.card, size: ApplicationHelper::MTG_SYMBOL_SIZE_BIG } %></p>
      <% end %>
      </div>
    <div class="me-3">
      <span><%= card_instance.card.type %></span>
      <i class="ms-5 <%= card_instance.expansion_symbol(2) %>"></i>
      <span class="ms-2"><%= card_instance.expansion.name %></span>
    </div>
    <div class="">
      <div class="">
        <%= process_text(card_instance.card.text) %>
      </div>
      <div class="italic mt-2"><%= card_instance.flavour_text %></div>
    </div>
    <div class="d-flex align-items-center mt-4">
      <% if card_instance.card.has_stats %>
        <p class="bold"><%= card_instance.card.stats %></p>
      <% end %>
    </div>
  </div>
</div>
