<%= form_with(model: card_instance) do |form| %>
  <% if card_instance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(card_instance.errors.count, "error") %> prohibited this card_instance from being saved:</h2>

      <ul>
        <% card_instance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :flavour_text, style: "display: block" %>
    <%= form.text_field :flavour_text %>
  </div>

  <div>
    <%= form.label :expansion_id, style: "display: block" %>
    <%= form.text_field :expansion_id %>
  </div>

  <div>
    <%= form.label :card_id, style: "display: block" %>
    <%= form.text_field :card_id %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :rarity, style: "display: block" %>
    <%= form.number_field :rarity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
