<div id="<%= dom_id card %>">
  <p>
    <strong>Name:</strong>
    <%= card.name %>
  </p>

  <p>
    <strong>Power:</strong>
    <%= card.power %>
  </p>

  <p>
    <strong>Toughness:</strong>
    <%= card.toughness %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= card.text %>
  </p>

  <p>
    <strong>Subtype:</strong>
    <%= card.subtype %>
  </p>

  <p>
    <strong>Legendary:</strong>
    <%= card.legendary %>
  </p>

  <p>
    <strong>Manacost:</strong>
    <%= card.manacost %>
  </p>

</div>
