<div class="row mt-1 deck-card">
  <div class="list-group row col-10 list-group-horizontal outline p-0 ms-1">
    <div class="list-group-item col-6 p-0 text-center">
      <%= card_in_deck.card_instance.card.name %>
    </div>
    <div class="list-group-item col-3 p-0 text-center">
      <%= render partial: 'manacost', locals: { card: card_in_deck.card_instance.card, size: ApplicationHelper::MTG_SYMBOL_SIZE_MIN } %>
    </div>
    <div class="list-group-item col-1 p-0 text-center">
      <%= render partial: 'set_symbol', locals: { card: card_in_deck.card_instance, size: 1 } %>
    </div>
    <div class="list-group-item col-2 p-0 text-center">
      <%= card_in_deck.num %>
    </div>
  </div>

  <div class="col-1 ms-2 ">
    <%= link_to image_tag('plus.svg', size: '20x20'), add_card_path(params: {card_uuid: card_in_deck.card_instance.uuid}), class: "entry-btn",
                data: { turbo_method: :patch} %>
  </div>
  <div class="col-1 px-0">
    <%= link_to image_tag('minus.svg', size: '20x20'), remove_card_path(params: {card_id: card_in_deck.id}), class: "entry-btn",
                data: { turbo_method: :patch} %>
  </div>

  <div class="row deck-card-img hidden">
    <%= image_tag card_in_deck.card_instance.image.representation(resize_to_limit: [284, 400]), class: 'col-6' %>
  </div>

</div>
