<%= form_with url: save_deck_path, class: 'align-items-center mt-2', method: :patch, id: 'deck-save-form' do |form| %>
  <div class="row align-items-center">
    <%= form.label :deck_name, 'Name', class: 'col-2 h5' %>
    <div class="col-5">
      <%= form.text_field :deck_name, class: 'form-control', required: true, value: deck.name %>
    </div>

    <div class="col-5">
      <%= form.collection_select :deck_format, Format.all, :id, :name, selected: deck.format.id, class: 'form-select large-font ms-3 p-2' %>
    </div>
  </div>

  <% unless deck.cards.empty? %>
    <div class="row list-group list-group-horizontal outline small mt-3">
      <div class="col-4 list-group-item centered p-1">
        <span>Name</span>
      </div>
      <div class="col-3 list-group-item centered p-1">
        <span>Type</span>
      </div>
      <div class="col-2 list-group-item centered p-1">
        <span>Manacost</span>
      </div>
      <div class="col-2 list-group-item centered p-1">
        <span>Expansion</span>
      </div>
      <div class="col-1 list-group-item centered p-1 pe-2 ps-2">
        <span>Count</span>
      </div>
    </div>
  <% end %>

  <% deck.cards.each do |card| %>
    <%= render card %>
  <% end %>

  <div class="row mt-3 justify-content-center">
    <%= form.submit 'Save', class: "col-3 btn btn-outline-success" %>
    <%= link_to 'Delete', delete_deck_path, class: "col-3 btn btn-outline-danger ms-2", id: "delete-deck-btn",
                data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
  </div>
<% end %>

<script>
    function abort_deck_building() {
        for (let obj of document.getElementsByClassName('card-buttons')) {
            obj.classList.add('d-none');
        }

        for (let obj of document.getElementsByClassName('dropdown-btn-container')) {
            obj.classList.remove('d-none')
        }
    }

  document.getElementById('delete-deck-btn').addEventListener('click', abort_deck_building);
  document.getElementById('deck-save-form').addEventListener('submit', abort_deck_building);
</script>
