<% footer ||= nil %>

<!DOCTYPE html>
<html>
<head>
  <title>MtG</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "styles", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag t('http_cdn_jsdelivr_net_npm_keyrune_latest_css_keyru') %>

  <%= javascript_importmap_tags %>
</head>

<body class="container-fluid pe-0 w-100">
<header class="navbar navbar-expand-md navbar-dark fixed-top bg-dark row">
  <h1 class="col-5 ms-3 mt-3 text-light"><%= link_to 'MtG Cardbase', root_path %></h1>
  <div class="col-4 d-flex align-items-center justify-content-center">
    <% if current_user.present? %>
      <%= link_to t('users'), users_path, class: "text-light h5 me-3 btn btn-outline-secondary menu-btn"%>
      <%= link_to "#{t('your')} #{t('decks')}", decks_path(user_name: current_user&.name), class: "text-light h5 me-3 btn btn-outline-secondary menu-btn"%>
    <% end %>

    <%= link_to t('decks'), decks_path, class: "text-light h5 me-3 btn btn-outline-secondary menu-btn"%>
    <%= link_to t('cards'), root_path, class: "text-light h5 me-3 btn btn-outline-secondary menu-btn"%>
  </div>
  <div class="col-3 d-flex align-items-center justify-content-center">
    <% if current_user.present? %>
      <p class="h5 text-light"><%= t('hello') %>, <%= current_user.name %>!</p>
      <%= link_to t('sign_out'), logout_path, class: "text-light h5 ms-3 btn btn-outline-secondary menu-btn"%>
    <% else %>
      <%= link_to t('log_in'), login_path, class: "text-light h5 me-3 btn btn-outline-secondary menu-btn"%>
      <%= link_to t('sign_up'), signup_path, class: "text-light h5 btn btn-outline-secondary menu-btn"%>
    <% end %>
  </div>
</header>

<main class="row gx-0">
  <%= yield %>
</main>

<%= render partial: footer unless footer.blank? %>
</body>
</html>